/mqtt/ssl/*
!/mqtt/ssl/.keep

/home-assistant/config/.shopping_list.json
/home-assistant/config/secrets.yaml
/home-assistant/config/html5_push_registrations.conf
/home-assistant/config/known_devices.yaml
/home-assistant/config/home-assistant_v2*
/home-assistant/config/home-assistant.log*
/home-assistant/config/.storage/*
/home-assistant/config/.HA_VERSION
/home-assistant/config/.uuid
/home-assistant/config/core
/home-assistant/config/tts/*
/home-assistant/config/www/community/*
/home-assistant/config/.sonoff.json
/home-assistant/config/.yandex_station.json