{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 56.873875144524995,
    "longitude": 35.888879299163825,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Дом",
    "time_zone": "Europe/Moscow",
    "external_url": null,
    "internal_url": null,
    "currency": "RUB",
    "country": "RU",
    "language": "ru"
  }
}